<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        <li>@Html.ActionLink("Product", "index", "product")</li>
        <li>@Html.ActionLink("About", "about", "home")</li>
        <li>@Html.ActionLink("Contact", "contact", "home")</li>
        <li>@Html.ActionLink("Administrator", "index", "admin")</li>
    </ul>
</div>>