@*<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="nav-item">@Html.ActionLink("Home", "index", "home")</li>
        <li class="nav-item">@Html.ActionLink("Product", "index", "product")</li>
        <li class="nav-item">@Html.ActionLink("About", "about", "home")</li>
        <li class="nav-item">@Html.ActionLink("Contact", "contact", "home")</li>
        <li class="nav-item">@Html.ActionLink("Administrator", "index", "admin")</li>
    </ul>
</div>>*@
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="width:100%;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navMainNavBar" aria-controls="navMainNavBar" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    <div class="collapse navbar-collapse" id="navMainNavBar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "home")">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "product")">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("about", "home")">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("contact", "home")">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "admin")">Administrator</a>
            </li>
        </ul>

            @*<ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "index", "home")</li>
                    <li class="nav-item">@Html.ActionLink("Product", "index", "product")</li>
                    <li class="nav-item">@Html.ActionLink("About", "about", "home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "contact", "home")</li>
                    <li class="nav-item">@Html.ActionLink("Administrator", "index", "admin")</li>
                </ul>*@
           
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
    </div>
</nav>