@model IEnumerable<HelloQQPortal.Database.hqq_product>

@{
    ViewBag.Title = "การจัดการสินค้า : HelloQQShop ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-admin">
    <h2>การจัดการสินค้า</h2>

    <p>
        <i class="fa fa-plus-square fa-lg"></i>
        @*@Html.ActionLink("Create New", "productDetail","admin")*@
        <a href="/admin/productDetail">สร้างสินค้า</a>
    </p>
    <table class="admin table">
        <tr>
            <th>
                ไอดี
            </th>
            <th>
                สินค้า
            </th>
            <th>
                สร้างเมื่อ
            </th>
            <th>
                แก้ไขเมื่อ
            </th>
            <th>
                สถานะ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>

                <td>
                    @item.created_on.ToString("dd MMM yyyy")
                </td>
                <td>
                    @if (item.modified_on.HasValue)
                    {
                        @item.modified_on.Value.ToString("dd MMM yyyy");
                    }
                </td>
                <td>
                    @((item.status == 1) ? "ใช้งาน" : "ปิดการใช้งาน")

                </td>
                <td>
                    <a href="/admin/product/@item.id">แก้ไข</a>
                    @*@Html.ActionLink("Edit", "userdetail", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }

    </table>
</div>