@model  IEnumerable<HelloQQPortal.Models.MemberProductInfo> 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-section">
    <h1>สินค้าของท่าน</h1>

    <div class="card-deck">
        @if (Model.Count() == 0)
        {
            <div class="content-section">
                <div class="box-center">
                    <div class="box information-box">
                        ยังไม่พบข้อมูลสินค้าที่ท่านซื้อค่ะ
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="card text-white bg-dark mb-3">

                <img class="card-img-top" data-src="image/@item.ProductImagesId.FirstOrDefault()/?param=prdt-321" alt="100%x180" src="image/@item.ProductImagesId.FirstOrDefault()/?param=prdt-321" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                <div class="card-body">
                    <div class="card-title"> @Html.DisplayFor(modelItem => item.ProductName)</div>
                    <div class="card-text"> @Html.DisplayFor(modelItem => item.ProductDesc)</div>
                    @if (item.GuaranteeExpire.HasValue)
                    {
                        <div class="card-text expired-date"> รับประกันถึงวันที่ : @item.GuaranteeExpire.Value.ToString("dd MMM yyyy")</div>
                    }

                    @if (item.HaveManual)
                    {
                        <div> <a href="/product/@item.ProductId/manual" class="badge badge-info">คู่มือการใช้งาน</a></div>
                        @*<div class="card-text expired-date"> คู่มือการใช้งาน :  <a href="/product/@item.product_id/manual">@Html.DisplayFor(modelItem => item.hqq_product.name)</a></div>*@
                    }
                </div>

                <div class="card-footer">
                    <small class="text-muted">Last updated: @item.PurchaseDate.ToString("dd MMM yyyy")</small>
                </div>
            </div>
        }
    </div>
</div>
